.bg_image {
    background-image: linear-gradient(rgba(16, 40, 102, 0.9), rgba(255, 90, 95, 0.57)), url("https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif");
    /*            background-image: url("https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif");*/
    width: 100%;
}

 @media screen and (max-width: 768px) {
     .display-4 {
         font-size: 42px;
     }
 }

