.navbar {
    background-color: blue;
    border-bottom: 2px solid darkblue;
    height: 15vh;
    color: black;
}
.d-flex {
    display: flex;
}
.justify_content_right {
    justify-content: right;
}
.nav_link {
    display:inline-block;
    padding: 10px 10px;
    position: relative;
    top: 10px;
    border-radius: 3px;
}
.nav_link:hover {
    background-color: #2e294e;
    color: green;
    transition: 250ms;
}
.nav_link > :hover {
    color: green;
}
.nav_link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    width: 100%;
    transition: 250ms;
    padding: inherit;
}

