:root {
    --primary: #4392F1;
    --light: #ECE8EF;
    --secondary: #CA2E55;
    --dark: #02020B;
    --extra: #26FFE6;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}


.bg-extra {
    background-color: var(--extra) !important;
}
/* btn  starts */

.btn-primary {
    background-color: var(--primary) !important;
}
.btn-secondary {
    background-color: var(--secondary) !important;
}
.btn-dark {
    background-color: var(--dark) !important
}
.btn-light {
    background-color: var(--light) !important
}
.btn-extra {
    background-color: var(--extra) !important
}